/* Button.css */
.button {
    background-color: rgb(56, 107, 247);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(83, 83, 255); 
}