.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #61dafbaa;
  border-radius: 5px;
  height: 450px;
  width: 250px;
  margin: 10px;
}
